<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
  <body>
    
    <div ng-app="" ng-init="firstName='John'">
      <p>Name1 : <input type="text" ng-model="name1"></p>
      <h1>Hello {{name1}}</h1>

      <p>Name: <input type="text" ng-model="name"></p>
      <p ng-bind="name"></p>

      <p>The name is <span ng-bind="firstName"></span></p>
    </div> 

    <div ng-app="myApp" ng-controller="myCtrl">
      First Name: <input type="text" ng-model="firstName"><br>
      Last Name: <input type="text" ng-model="lastName"><br>
      <br>
      Full Name: {{firstName + " " + lastName}}
    </div>

  </body>
</html> 